/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/
@media (max-width: 1200px) {
    .menu h3 {
        font-size: 16px;
    }

    .menu nav a {
        font-size: 12px;
    }

    .title h2 {
        font-size: 35px;
    }

    .title__subsection {
        font-size: 16px; 
    }

    .title__network {
        font-size: 12px;
    }

    .title__profile {
        height: 300px;
        width: 300px;
    }

    .about__title {
        font-size: 28px;
    }

    .skills__title {
        font-size: 28px;
    }

    .hobbies__title {
        font-size: 28px;
    }

    .academic {
        justify-content: space-between;
        align-items: center;
        width: auto;
    }

    .academic__title {
        font-size: 22px;
    }

    .academic__courses {
        justify-content: center;
        width: 130%;
        gap: 16px;
    }

    .academic__courses__box {
        width: 300px;
    }

    .academic__courses__list {
        height: 80%;
        width: 80%;
    }

    .academic__courses__item__img {
        width: 80%;
        margin-left: 10px;
    }

    .imgCards {
        height: 40%;
        width: 120px;
        left: 40px;
    }

    .academic__courses__item__title h4 {
        font-size: 18px;
        width: 80%;
    }

    .academic__courses__item__subtitle p {
        font-size: 14px;
        width: 80%;
    }
}


/*Tablet*/
@media (max-width: 964px) {
    :root {
        --cor-de-link: #000;
        --cor-de-fundo: #EEEEEE;
        --cor-cards: #393E46;
        --cor-da-section: #222831;
        --cor-primaria:  #00ADB5;
    }

    section.menu {
        width: auto;
        padding: 0 152px;
        justify-content: space-between;
        align-items: center;
    }

    #nav-sobre-mim, #nav-skills, #nav-hobbies, #nav-formacao, #nav-exp-projetos {
        display: none;
    }

    .menu h3 {
        font-size: 12px;
    }

    .title h2 {
        font-size: 24px;
    }

    .title__subsection {
        font-size: 12px; 
    }

    .title__profile {
        height: 200px;
        width: 200px;
    }

    .about__title {
        font-size: 22px;
    }

    .skills__title {
        font-size: 22px;
    }

    .skills__box {
        width: 176px;
        height: 176px;
    }

    .skills__box ul {
        top: 40px;
    }

    .hobbies__title {
        font-size: 22px;
    }

    .hobbies__box {
        width: 176px;
        height: 176px;
    }

    .hobbies__box ul {
        top: 60px;
    }

    .academic {
        justify-content: space-between;
        align-items: center;
        width: auto;
    }

    .academic__courses__box {
        width: 40%;
    }

    .academic__courses__list {
        padding: 0px;
    }

    .academic__courses__item__img {
        width: 242px;
        height: 256px;
        margin: 0;
    }

    .imgCards {
        height: 40%;
        width: 120px;
        left: 60px;
    }

    #buttonCertificado {
        font-size: 14px;
        padding: 14px;
        margin-top: 4px;
    }

    #cursos img {
        top: 70px;
        width: 50%;
    }

    .academic__courses__item__title h4 {
        font-size: 18px;
        width: 90%;
    }

    .academic__courses__item__subtitle p {
        font-size: 14px;
    }

    .experience__section__title {
        font-size: 22px;
    }

    .experience__title {
        font-size: 18px;
    }

    .experience__text {
        font-size: 14px;
    }

    .experiencia__botao--repo.button1 {
        font-size: 14px;
        padding: 10px;
        margin-top: 4px;
    }

    .experiencia__botao--demo.button2 {
        font-size: 14px;
        padding: 10px;
        margin-top: 4px;
    }

    .formcontato__img {
        height: 500px;   
    }

    .formcontato__title {
        font-size: 22px;
    }

    .formcontato__subtext {
        font-size: 12px;
    }

    .formcontato__botao {
        font-size: 14px;
        padding: 14px;
        margin-top: 4px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .helperNome, .helperEmail, .helperAssunto, .helperMensagem {
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    section.menu {
        padding: 0 80px; 
    }   

    .menu__list {
        padding: 0;
    }

    .menu img {
        height: 14px;
    }
    
    .menu h3 {
        font-size: 12px;
        width: 155px;
    }
    
    .menu nav a {
        font-size: 12px;

    }

    .title__div {
        padding: 0 80px; 
    }
    
    .title h2 {
        font-size: 20px;
    }
    
    .title__subsection {
        font-size: 12px; 
    }
    
    .title__network {
        font-size: 8px;
    }
    
    .title__profile {
        height: 150px;
        width: 150px;
    }

    section.about{
        padding: 64px 80px;
        margin: 0;
    }

    .about__container {        
        text-align: center;
        padding: 0;
        width: 100%;
    }
    
    .about__title {
        font-size: 18px;
    }

    .about__paragraph {
        font-size: 12px;
    }
    
    .skills__title {
        font-size: 18px;
    }
    
    .hobbies__title {
        font-size: 18px;
    }
    
    .skills__box {
        width: 110px;
    }
    
    .skills__box ul {
        top: 50px;
    }

    .skills__name {
        font-size: 12px;
    }
    
    .hobbies__box {
        width: 110px;
    }
    
    .hobbies__box ul {
        top: 60px;
    }

    .hobbies__name {
        font-size: 12px;
    }
    
    section.academic {
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding: 44px 80px 0px 80px;
    }
    
    .academic__title {
        font-size: 18px;
    }
    
    .academic__courses {
        justify-content: center;
        width: 130%;
    }
       
    .academic__courses__box {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .academic__courses__list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;        
    }
    
    .academic__courses__item__img {
        height: 160px;
        width: 160px;
    }
    
    .imgCards {
        height: 40%;
        width: 80px;
        left: 40px;
        top: 40px;
    }
    
    #buttonCertificado {
        font-size: 12px;
        padding: 12px;
        margin-top: 4px;
    }
    
    #cursos img {
        top: 30px;
        left: 50px;
        height: 50%;
        width: 40%;
    }

    #cursosImg {
        height: 160px;
        width: 160px;
    }
    
    .academic__courses__item__title h4 {
        font-size: 14px;
        width: auto;
    }
    
    .academic__courses__item__subtitle p {
        font-size: 12px;
        width: auto;
    }

    .experiencie__box {
        padding: 44px 80px;
        gap: 14px;
    }
    
    .experience__section__title {
        font-size: 18px;
    }
    
    .experience__title {
        font-size: 14px;
    }
    
    .experience__text {
        font-size: 12px;
    }
    
    .experiencia__botao--repo.button1 {
        font-size: 12px;
        padding: 10px;
        margin-top: 4px;
    }
    
    .experiencia__botao--demo.button2 {
        font-size: 12px;
        padding: 10px;
        margin-top: 4px;
    }
    
    .formcontato__img {
        height: 300px;   
    }
    
    .formcontato__title {
        font-size: 18px;
        text-align: center;
    }
    
    .formcontato__subtext {
        font-size: 12px;
        text-align: center;
    }
    
    .formcontato__botao {
        font-size: 12px;
        padding: 12px;
        margin-top: 4px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .formcontato__form input {
        height: 45px;
        width: 266px;
    }
    
    .formcontato__form textarea {
        height: 133px;
        width: 266px;
    }
}

/*Mobile*/
@media (max-width: 545px) {
    section.menu {
        padding: 0 20px;
    }

    .menu img {
        height: 14px;
    }
    
    .menu h3 {
        font-size: 12px;

    }
    
    .menu nav a {
        font-size: 12px;
    }
    
    .title__div {
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;    
    }

    .title h2 {
        font-size: 20px;
        text-align: center;
    }
    
    .title__subsection {
        font-size: 12px;
        text-align: center;
    }
    
    .title__network {
        font-size: 12px;
    }
    
    section.about {
        padding: 0 20px;
    }
    
    .about__container {
        padding: 16px 0;
        width: 70vw;
        text-align: center;
    }

    .skills__line {
        justify-content: center;
    }   

    .skills__box {
        width: 150px;
    }
    
    .hobbies__title {
        font-size: 18px;
    }

    .hobbies__line {
        justify-content: center;
    }   
    
    .hobbies__box {
        width: 150px;
    }
    
    .academic {
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: auto;
    }
    
    .academic__courses {
        justify-content: center;
        width: 130%;
        gap: 16px;
        margin-bottom: 40px;
    }
    
    .academic__courses__box {
        width: 60%;
    }
    
    .academic__courses__list {
        padding: 0px;
    }
    
    .academic__courses__item__img {
        height: 176px;
        width: 150px;
    }
    
    .imgCards {
        height: 40%;
        width: 90px;
        left: 30px;
        top: 40px;
    }
    
    #cursosImg {
        height: 176px;
        width: 150px;
    }
    
    .experience__section__title {
        font-size: 18px;
    }

    .experiencie__box {
        flex-direction: column;
    }
    
    #decodificadorTexto {
        flex-direction: column-reverse;
    }

    #siteGames {
        flex-direction: column-reverse;
    }

    .experience__img {
        width: 130%;
    }
    
    .experiencia__botao--repo.button1 {
        font-size: 12px;
        padding: 12px;
        margin-top: 4px;
    }
    
    .experiencia__botao--demo.button2 {
        font-size: 12px;
        padding: 12px;
        margin-top: 4px;
    }
    
    .formcontato__img {
        display: none;  
    }
}

@media (max-width: 520px) {
    section.menu header {
        position: absolute;
        left: 12px;
        top: 0px;
    }

    #nav-email {
        margin-right: 56px;
        position: absolute;
        left: 34px;
        top: 32px;
    }

    .about__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 55px;
    }
    
    .academic__courses {
        /* box-sizing: border-box; */
        height: auto;
    }

    #cursos {
        height: 400px;
    }
}
