/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
        --cor-de-link: #000;
        --cor-de-fundo: #FFF2D8;
        --cor-cards: #EAD7BB;
        --cor-da-section: #BCA37F;
        --cor-primaria: #113946;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    color: var(--cor-primaria);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

section.menu {
    display: flex;
    justify-content: space-between;
    padding: 0px 152px;
}

header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
}

.menu__title {
    font-size: 14px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 14px;
}

.menu__list__item__contato {
    font-weight: bold;
}

section.title{
    margin: 32px 0px;
}

.title__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 152px;
}

.title__container {
    width: 70%;
    text-align: justify;
}

.title__container h2 {
    text-align: left;
}

.title__profile {
    height: 368px;
    width: 368px;
    border-radius: 50%;
    border: 5px solid var(--cor-da-section);
}

.title__bio {
    font-size: 52px;
}

.title__subsection {
    font-size: 22px;
    font-weight: normal;
}

.title__network {
    font-size: 16px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 0;
}

section.about{
    background-color: var(--cor-da-section);
    margin: 32px 0px 0px 0px;
    text-align: justify;
}

.about__container {
    padding: 64px 152px;
    width: 59%;
}

.about__title {
    font-size: 32px;
    max-width: max-content;
}

.about__paragraph {
    font-size: 16px;
    font-weight: normal;
}

.skills {
    margin: 0;
}

section.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills__title {
    font-size: 32px;
}

.skills__line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 44px 152px;
}

.skills__box {
    height: 176px;
    width: 176px;
    border-radius: 16px;
    background-color: var(--cor-cards);
    filter: drop-shadow(2px 2px 1px var(--cor-primaria));
}
.skills__box ul {
    position: relative;
    top: 70px;
    right: 25px;
}

.skills__box img {
    height: 40px;
}

.skills__name {
    font-size: 16px;
    margin-top: 8px;
}

/*Sessão Hobbies*/
.hobbies {
    margin: 32px 0px;
    /* border: 1px solid blueviolet; */
}
section.hobbies{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.hobbies__title {
    font-size: 32px;
}

.hobbies__line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 44px 152px;
}

.hobbies__box {
    height: 176px;
    width: 176px;
    border-radius: 16px;
    background-color: var(--cor-cards);
    filter: drop-shadow(2px 2px 1px var(--cor-primaria));
}

.hobbies__box ul {
    position: relative;
    top: 70px;
    right: 25px;
}

.hobbies__box img {
    height: 40px;
}

.hobbies__name {
    font-size: 16px;
}

/* Experiência Acadêmica*/
.academic {
    background-color: var(--cor-da-section);
    padding: 82px 0px;
    /* border: 1px solid blueviolet; */
}

section.academic{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 44px 152px;
}

.academic__title {
    font-size: 32px;
}

.academic__courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
}

.scroll {
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.academic__courses__item__img {
    height: 286px;
    width: 350px;
    background-color: var(--cor-cards);
    filter: drop-shadow(2px 2px 1px var(--cor-primaria));
    border-radius: 16px;

}

.imgCards {
    position: relative;
    top: 78px;
    left: 88px;
    height: 130px;
    width: 180px;
}

.academic__courses__item__title h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 16px 0px;
    text-align: center;
}

.academic__courses__item__subtitle p {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 8px;
    text-align: center;
}

#buttonCertificado {
    margin-top: 5px;
}

/* experiência*/
section.experience{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    width: 100vw;
    margin: 0;
    background-color: var(--cor-de-fundo);
    /* border: 1px solid blueviolet; */
}

.experience__section__title {
    font-size: 32px;
}

.experiencie__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 44px 152px;
    /* border: 1px solid blueviolet; */
}

.experience__img {
    width: 60%;
    border: 1px solid var(--cor-de-link);
    border-radius: 10px;
    border-style: dotted;
}

.experience__title {
    font-size: 22px;
    font-weight: bold;
}

.experience__text {
    font-size: 16px;
    font-weight: lighter;
}

/*Contato*/
section.formcontato{
    background-color: var(--cor-da-section);
    padding: 64px 152px;
    /* border: 1px solid blueviolet; */
}

.formcontato__contacto {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 60px;
}

.formcontato__title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
}

.formcontato__subtext {
    font-size: 16px;
    font-weight: lighter;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formcontato__form input {
    height: 56px;
    width: 296px;
    color: var(--cor-primaria);
}

.formcontato__form textarea {
    height: 133px;
    color: var(--cor-primaria);
}

.formcontato__form button {
    height: 51px;
    width: 165px;
}

::placeholder {
    color: var(--cor-primaria);
    font-size: 16px;
}

.formcontato__img {
    height: 630px;
    border-radius: 16px;
}

.footer__rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 32px 0px;
}

.footer__rodape p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.button1 {
    font-size: 16px;
    font-weight: normal;
    color: var(--cor-primaria);
    background-color: var(--cor-de-fundo);
    border: 1px solid var(--cor-primaria);
    border-radius: 16px;
    padding: 16px;
    transition: 0.3s;
}

.button2 {
    font-size: 16px;
    font-weight: normal;
    color: var(--cor-de-fundo);
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-de-fundo);
    border-radius: 16px;
    padding: 16px;
    transition: 0.3s;
}

.correct {
    border-color: greenyellow;
} 

.error {
    border-color: red;
    margin-bottom: 3px;
}

.addColor {
    color: var(--cor-da-section);
}

.removeColor {
    color: var(--cor-primaria);
}
